header{
	background: radial-gradient(deepskyblue,white,gold);
	justify-content: center;
}

.left_side{
    display: inline-flex;
    min-width: 10em;
	margin: 4px;
}
h1{
    text-align: center;
}
#connexion{
	display: flex;
	justify-content: center;
    text-align: center;
	
}

ul{
    list-style: none;
	border: dashed deepskyblue;
	padding: 0;
}

.right_side{
    display: inline-flex;
    
}
input{
	margin: 4px;
}
button{
	margin: 4px;
}